In [2]:
import pandas as pd

In [42]:
data = pd.read_csv("../data/mls_data_index.csv")

In [45]:
data['language'].value_counts()

yoruba         4716
afrikaans      4341
sesotho        4011
hausa          3874
kinyarwanda    3774
arabic         3714
tswana         3668
zulu           3432
swahili        3363
xhosa          3335
pedi           3297
igbo           3259
luganda        2181
shona          1553
french         1405
akan           1134
amharic         812
twi             510
fulani           83
ga               75
Name: language, dtype: int64

In [10]:
data = data[data['source'] == 'intron-MT']

In [ ]:
df_hrs = df_hrs.groupby(['language'])['duration'].sum().reset_index()
df_hrs['hours'] = df_hrs['duration'] / 3600
df_hrs.sort_values(by='hours', ascending=False)

       language   duration     hours
7          igbo  14394.875  3.998576
13      swahili  14373.395  3.992610
18         zulu  14367.561  3.990989
8   kinyarwanda  14362.256  3.989516
17       yoruba  14362.106  3.989474
6         hausa  14355.222  3.987562
1          akan  14311.839  3.975511
16        xhosa  14298.560  3.971822
14       tswana  14288.501  3.969028
10         pedi  14067.933  3.907759
11      sesotho  14033.978  3.898327
4        french  12787.867  3.552185
0     afrikaans  12009.891  3.336081
12        shona   9997.657  2.777127
3        arabic   8437.003  2.343612
15          twi   3620.529  1.005702
2       amharic   1064.121  0.295589
9       luganda    949.545  0.263763
5            ga    803.826  0.223285

In [11]:
df_spkrs = data.groupby(['language'])['speaker_id'].nunique().reset_index()
df_spkrs.sort_values(by='speaker_id', ascending=False)

       language  speaker_id
13      swahili         215
6         hausa         163
17       yoruba         142
18         zulu         105
7          igbo          85
8   kinyarwanda          80
16        xhosa          69
1          akan          60
0     afrikaans          44
10         pedi          41
3        arabic          39
14       tswana          37
11      sesotho          25
4        french          23
15          twi          21
12        shona          11
2       amharic          11
5            ga           6
9       luganda           2

In [14]:
data.groupby(['language'])['gender'].value_counts()

language     gender
afrikaans    Female    1172
             Male        87
akan         Male      1042
             Female      86
amharic      Male       116
             Female      85
arabic       Male       642
             Female      46
french       Male       726
             Female     164
ga           Female      52
             Male         5
hausa        Male       915
igbo         Male      1311
             Female      27
kinyarwanda  Male      1007
             Female       2
luganda      Male        48
pedi         Female     613
             Male       478
sesotho      Female    1285
             Male         4
shona        Female     620
             Male         8
swahili      Male       929
             Female       2
tswana       Male       786
             Female     398
twi          Male       354
             Female      53
xhosa        Female    1020
             Male       345
yoruba       Male      1382
zulu         Male      1487
             Female     209
Name: gender, dtype: int64

In [6]:
agg_df = data.groupby(['source', 'language']).agg(
    total_duration_seconds=('duration', 'sum'),
    unique_speakers=('speaker_id', 'nunique')
).reset_index()

# Convert duration in seconds to hours
agg_df['hours'] = agg_df['total_duration_seconds'] / 3600

# Optional: drop the total_duration_seconds column if not needed
agg_df.drop(columns=['total_duration_seconds'], inplace=True)

agg_df.sort_values(by="language")

gender_counts = data.groupby(['source', 'language', 'gender']).size().reset_index(name='gender_count')

# Pivot the table so that each gender becomes its own column.
gender_pivot = gender_counts.pivot_table(index=['source', 'language'], 
                                           columns='gender', 
                                           values='gender_count', 
                                           fill_value=0).reset_index()

# If desired, flatten the column names (gender values become regular columns)
gender_pivot.columns.name = None


result = pd.merge(agg_df, gender_pivot, on=['source', 'language'])

result = result.sort_values(by="language")
result

,source,language,unique_speakers,hours,Female,Male,female,male,unknown
5,NCHLT,afrikaans,8,2.664700,0,0,1596,1406,0
37,intron-MT,afrikaans,44,3.336081,1172,87,0,0,0
24,fleurs,afrikaans,23,0.072209,0,0,0,23,0
14,common_voice,afrikaans,13,0.107876,0,0,3,1,53
2,Ashesi-Org_Financial-Inclusion-Speech-Dataset,akan,4,0.009593,0,0,1,5,0
38,intron-MT,akan,60,3.975511,86,1042,0,0,0
0,ALFFA,amharic,359,0.730994,0,0,0,0,359
39,intron-MT,amharic,11,0.295589,85,116,0,0,0
25,fleurs,amharic,46,0.147250,0,0,47,0,0
15,common_voice,amharic,17,0.354978,0,0,0,155,50
40,intron-MT,arabic,39,2.343612,46,642,0,0,0
26,fleurs,arabic,14,0.038200,0,0,14,0,0
16,common_voice,arabic,259,3.627860,0,0,400,1268,1344
41,intron-MT,french,23,3.552185,164,726,0,0,0
59,openslr-african_accented_french,french,12,0.312981,0,0,119,396,0
27,fleurs,fulani,78,0.318283,0,0,35,48,0
42,intron-MT,ga,6,0.223285,52,5,0,0,0
3,Ashesi-Org_Financial-Inclusion-Speech-Dataset,ga,12,0.026059,0,0,12,6,0
11,bible_tts,hausa,0,0.125947,0,0,0,40,0
17,common_voice,hausa,18,0.767075,0,0,0,134,447
56,naijavoices,hausa,562,1.970200,0,0,1272,1002,0
43,intron-MT,hausa,163,3.987562,0,915,0,0,0
28,fleurs,hausa,56,0.324117,0,0,64,0,0
29,fleurs,igbo,78,0.420817,0,0,46,40,0
18,common_voice,igbo,3,0.004496,0,0,0,2,1
57,naijavoices,igbo,543,1.990467,0,0,1062,770,0
44,intron-MT,igbo,85,3.998576,27,1311,0,0,0
19,common_voice,kinyarwanda,56,3.999936,0,0,1035,1105,625
45,intron-MT,kinyarwanda,80,3.989516,2,1007,0,0,0
30,fleurs,luganda,16,0.080483,0,0,13,5,0
46,intron-MT,luganda,2,0.263763,0,48,0,0,0
20,common_voice,luganda,66,3.461485,0,0,880,725,510
31,fleurs,pedi,209,2.043283,0,0,200,180,0
47,intron-MT,pedi,41,3.907759,613,478,0,0,0
6,NCHLT,pedi,5,1.852700,0,0,1049,777,0
48,intron-MT,sesotho,25,3.898327,1285,4,0,0,0
7,NCHLT,sesotho,8,2.535947,0,0,1311,1411,0
32,fleurs,shona,348,3.818167,0,0,325,600,0
49,intron-MT,shona,11,2.777127,620,8,0,0,0
21,common_voice,swahili,177,3.339902,0,0,689,428,995
1,ALFFA,swahili,1,0.221828,0,0,0,0,236
33,fleurs,swahili,63,0.337217,0,0,29,55,0
50,intron-MT,swahili,215,3.992610,2,929,0,0,0
8,NCHLT,tswana,7,2.395333,0,0,1466,1018,0
51,intron-MT,tswana,37,3.969028,398,786,0,0,0
12,bible_tts,twi,0,0.218683,0,0,0,83,0
4,Ashesi-Org_Financial-Inclusion-Speech-Dataset,twi,7,0.013414,0,0,6,5,0
22,common_voice,twi,3,0.012999,0,0,0,3,6
52,intron-MT,twi,21,1.005702,53,354,0,0,0
34,fleurs,xhosa,202,2.195217,0,0,0,602,0
9,NCHLT,xhosa,4,1.522025,0,0,627,741,0
53,intron-MT,xhosa,69,3.971822,1020,345,0,0,0
54,intron-MT,yoruba,142,3.989474,0,1382,0,0,0
13,bible_tts,yoruba,0,0.125947,0,0,0,40,0
58,naijavoices,yoruba,499,1.993433,0,0,1338,650,0
35,fleurs,yoruba,244,2.686333,0,0,0,590,0
23,common_voice,yoruba,58,1.221382,0,0,130,225,361
10,NCHLT,zulu,4,1.800067,0,0,989,322,0
55,intron-MT,zulu,105,3.990989,209,1487,0,0,0
36,fleurs,zulu,218,1.961483,0,0,286,139,0

In [40]:
lang_df = result[result['language']=="ga"]
lang_df

,source,language,unique_speakers,hours,Female,Male,female,male,unknown
42,intron-MT,ga,6,0.223285,52,5,0,0,0
3,Ashesi-Org_Financial-Inclusion-Speech-Dataset,ga,12,0.026059,0,0,12,6,0

In [41]:
print(f"Unique speakers:  {lang_df['unique_speakers'].sum()}")
total_hours = lang_df['hours'].sum()
print(f"Total number of hours: {total_hours}")
intron_hrs = lang_df[lang_df['source'] == 'intron-MT']['hours'].values
print(f"Intron (hrs): {intron_hrs}")
print(f"Opensource (hrs): {total_hours - intron_hrs}")

Unique speakers:  18
Total number of hours: 0.24934406250000002
Intron (hrs): [0.223285]
Opensource (hrs): [0.02605906]